

.companyForm {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  div:first-child {
    width: 30%;
  }
  div:nth-child(2) {
    width: 30%;
  }
  div:last-child {
    width: 30%
  }
  form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}