
.companyForm {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  input {
    margin: 5px;
  }
  .companyData {
    padding-top: 20px;
    background-color: $formBackgroundColor;
    border-radius: 5%;
    width: 250px;
    height: 250px;
  }
  .driverData {
    padding-top: 15px;
    background-color:  $formBackgroundColor;
    border-radius: 5%;
    width: 250px;
    height: 250px;
  }
  .carData {
    padding-top: 65px;
    background-color:  $formBackgroundColor;
    border-radius: 5%;
    width: 250px;
    height: 250px;
  }
}

  form {
    margin-top: 10px;
    margin-bottom: 20px;
  }
