header {
  background-color: $textColor;
  //background-image: url("../images/tlo.jpg");
  //background-size: cover;
  //background-repeat: no-repeat;
  width:100%;
  opacity: 0.8;

  height: 150px;
  margin-top: -20px;
  color: white;  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  color:#599bb3;

  padding-top: 20px;
  .mainLogo {
    background-image: url("../images/logo.png");
    background-size: cover;
    width: 195px;
    height: 160px;
    float: left;
  }
  .aplicationDescript {
    float: right;
    width: 800px;
    padding-top: 2%;
    padding-right: 30px;
    padding-left: 70px;
    color: white;
    font-family: 'Josefin Sans', 'Playfair Display', serif;
    font-weight: 800;
  }

}