header {
  //background-color: $backgroundColor2;
  background-image: url("../images/antique-bicycle-on-blue-painted-old-wall-background-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 230px;
  margin-top: -20px;
  color: white;

  padding-top: 20px;
  .mainLogo {
    background-size: cover;
    width: 195px;
    height: 160px;
    float: left;
    margin-left: 20px;
  }
  .aplicationDescript {
    float: right;
    width: 800px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 70px;
  }

}