
.mainTable {
  width: 100%;
  font-size: 10px;
}

.weekends {
  width: 100%;
  text-align: center;
  color: $borderColor;
  font-size: 15px;
}

.printHeader {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

table {
  color: black;
  border-collapse: collapse;
  width: 100%;
  background-color: $formBackgroundColor;
  font-family: 'Lato','Playfair Display', serif;
  border-style: ridge;
}

th, td {
  text-align: left;
  padding: 8px;
  //border-top: 1px solid $borderColor;
  //border-right: 1px solid $borderColor;


  height: 10px;
  &button {
    font-size: 0.1rem;
    width: 50px;
    color: $formBackgroundColor;

  }
}

tr:nth-child(even) {
  background-color: $formBackgroundColor;
  height: 15px;
  padding: 3px;

}
