
.mainTable {
  width: 100%;
  font-size: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid blue;
  background-color: azure;


}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid blue;
  height: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  height: 15px;
  padding: 3px;
}
