
.mainTable {
  width: 100%;
  font-size: 10px;
}

.weekends {
  width: 100%;
  text-align: center;
  color: #bc9726;
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #bc9726;
  background-color: azure;
  font-family: 'Josefin Sans','Playfair Display', serif;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #bc9726;
  height: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  height: 15px;
  padding: 3px;
}
