.popBackground {
  height: 100vh;
  //background-image: url("../images/droga_noc.jpg");
  background-image: url("../images/abstract-art-background-696644.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  color: white;
  left: 0;
  flex-direction: column;
  .popUp {
    font-size: 20px;
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      margin-top: -10px;
      &#checkbox {
        margin-top: 10px;
      }
    }

  }
}