$backgroundColor1: darkgray;
$backgroundColor2: dimgray;
$textColor: black;
$formBackgroundColor: white;
$borderColor: black;
$inputColor: gray;
$buttonColor1: dimgray;
$color2: blue;

* {
  box-sizing: border-box;
}

body {
  //background-image: url("../images/droga2.png");
  background-color: $backgroundColor1;
  font-weight: 700;
  font-family: 'Josefin Sans','Playfair Display', serif;
};

.container {
  width: 1024px;
  margin: 0 auto;
};

input {
  margin-top: 10px;
  background-color: $inputColor;


};

button {
  background-color: $buttonColor1 ;
padding-top: 6px;

  font-family: 'Josefin Sans', cursive;
};

select {
  margin-top: 10px;
  background-color: $inputColor ;

  font-family: 'Josefin Sans','Playfair Display', serif;

};

::placeholder {
  color: white;
  //font-weight: 700;
  font-size: 15px;
  text-align: center;
  font-family: 'Josefin Sans','Playfair Display', serif;
};