* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/droga2.png");

}

.container {
  width: 1024px;
  margin: 0 auto;
}

input {
  margin-top: 10px;
  background-color: #3CBC8D;
  color: white;
}

button {
  background-color: #3CBC8D;
  border-radius: 5%;
}

select {
  margin-top: 10px;
}