* {
  box-sizing: border-box; }

body {
  background-color: white;
  font-weight: 700;
  color: white;
  font-family: 'Roboto','Lato','Playfair Display', serif; }

.container {
  width: 1024px;
  margin: 0 auto; }

input {
  margin-top: 10px;
  background-color: white;
  border-style: none;
  border-bottom: 2px solid #5b84ff;
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  border-color: #599bb3; }

.button {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #599bb3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 7px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a; }

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color: #408c99; }

.button:active {
  position: relative;
  top: 1px; }

select {
  margin-top: 10px;
  background-color: white;
  border-style: none;
  border-bottom: 2px solid #5b84ff;
  color: #5b84ff;
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  border-color: #599bb3; }

::placeholder {
  color: #599bb3;
  opacity: 30%;
  font-size: 15px;
  text-align: center;
  font-family: 'Lato','Playfair Display', serif; }

header {
  background-image: url("../images/tlo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0.8;
  height: 500px;
  margin-top: -20px;
  color: white;
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  color: #599bb3;
  padding-top: 20px; }
  header .mainLogo {
    background-image: url("../images/logo.png");
    background-size: cover;
    width: 195px;
    height: 160px;
    float: left; }
  header .aplicationDescript {
    float: right;
    width: 800px;
    padding-top: 13%;
    padding-right: 30px;
    padding-left: 70px;
    color: white;
    font-family: 'Josefin Sans', 'Playfair Display', serif;
    font-weight: 800; }

.companyForm {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px dotted #5b84ff;
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  color: #599bb3; }
  .companyForm input {
    margin: 5px; }
  .companyForm .companyData {
    padding-top: 10px;
    background-color: white;
    border-radius: 5%;
    width: 250px;
    height: 270px; }
  .companyForm .driverData {
    padding-top: 5px;
    background-color: white;
    border-radius: 5%;
    width: 250px;
    height: 270px; }
  .companyForm .carData {
    padding-top: 50px;
    background-color: white;
    border-radius: 5%;
    width: 250px;
    height: 270px; }
  .companyForm .homeOffice {
    display: block;
    width: 230px;
    float: left;
    text-align: center;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    height: 270px; }

form {
  margin-top: 10px;
  margin-bottom: 20px; }

.newRecordForm {
  display: block;
  margin-bottom: 20px;
  width: 1024px;
  margin-top: 50px;
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  color: #599bb3; }
  .newRecordForm .photo3 {
    background-image: url("../images/photo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    position: absolute;
    height: 200px;
    margin-top: -10%; }

.titleNewRecord {
  width: 100%;
  display: block; }
  .titleNewRecord h1 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    color: #599bb3; }

.calendar {
  display: block;
  width: 50%;
  background-color: white;
  float: left;
  text-align: center;
  border-radius: 5%;
  padding-bottom: 10px; }

.boxTableData {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.createKM {
  padding: 30px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; }
  .createKM button {
    font-size: 0.5em;
    color: white;
    width: 15%; }

.mainTable {
  width: 100%; }

.mainTable {
  width: 100%;
  font-size: 10px; }

.weekends {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 15px; }

.printHeader {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between; }

table {
  color: black;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  font-family: 'Lato','Playfair Display', serif;
  border-style: ridge; }

th, td {
  text-align: left;
  padding: 8px;
  height: 10px; }
  thbutton, tdbutton {
    font-size: 0.1rem;
    width: 50px;
    color: white; }

tr:nth-child(even) {
  background-color: white;
  height: 15px;
  padding: 3px; }

footer {
  font-family: 'Indie Flower', cursive;
  color: black; }
  footer div:first-child {
    float: left; }
  footer div:last-child {
    float: right; }

.popBackground {
  height: 100vh;
  background-image: url("../images/abstract-art-background-696644.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  color: white;
  left: 0;
  flex-direction: column; }
  .popBackground .popUp {
    font-size: 20px;
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .popBackground .popUp input {
      margin-top: -10px; }
      .popBackground .popUp input#checkbox {
        margin-top: 10px; }

.discription {
  color: #599bb3;
  filter: opacity 30%;
  text-align: left;
  display: flex;
  justify-content: center;
  border-bottom: 1px dotted #5b84ff;
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  border-color: #599bb3; }
